<div class="about-container" id="about-page">
    <!-- Bootstrap grid met fullscreen banners -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/laus.jpeg');">
      <div class="banner-content">
        <h1>Laus</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, vel quaerat temporibus officiis dolorum praesentium pariatur deserunt consectetur consequuntur dignissimos quod, perspiciatis reprehenderit vitae sunt minus vero necessitatibus ipsam iste!</p>
      </div>
    </div>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/papa-en-mama.jpeg');">
      <div class="banner-content">
        <h1>Papa & Mama</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, vel quaerat temporibus officiis dolorum praesentium pariatur deserunt consectetur consequuntur dignissimos quod, perspiciatis reprehenderit vitae sunt minus vero necessitatibus ipsam iste!</p>
      </div>
    </div>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/peter-en-meter.jpeg');">
      <div class="banner-content">
        <h1>Peter & Meter</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, vel quaerat temporibus officiis dolorum praesentium pariatur deserunt consectetur consequuntur dignissimos quod, perspiciatis reprehenderit vitae sunt minus vero necessitatibus ipsam iste!</p>
      </div>
    </div>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/nomi.jpeg');">
      <div class="banner-content">
        <h1>Nomi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, vel quaerat temporibus officiis dolorum praesentium pariatur deserunt consectetur consequuntur dignissimos quod, perspiciatis reprehenderit vitae sunt minus vero necessitatibus ipsam iste!</p>
      </div>
    </div>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('assets/babou-en-nonna.jpg');">
      <div class="banner-content">
        <h1>Babou & Nonna</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, vel quaerat temporibus officiis dolorum praesentium pariatur deserunt consectetur consequuntur dignissimos quod, perspiciatis reprehenderit vitae sunt minus vero necessitatibus ipsam iste!</p>
      </div>
    </div>
  </div>
