<h1>3 Little Games</h1>

<div class="game_container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card game-card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwWrJS2rDZkLClvxvokpJMNo6YivUyAL3_z4WYQAtYfYCIhQkd-Q');">
        <p>DiaperSweeper</p>
        <%= link_to "Try it out!", '#', class: "btn btn-warning" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card game-card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://pngimg.com/uploads/stork/stork_PNG42.png');">
        <p>Flight of the Stork</p>
        <%= link_to "Try it out!", '#', class: "btn btn-warning" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card game-card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://i5.walmartimages.com/asr/5ab6c0e9-fd58-44c2-b3b8-800e398aa96c_1.82982f4f096d87aa57d20659f97a4885.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF');">
        <p>Catch'em all</p>
        <%= link_to "Try it out!", '#', class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>
