<div class="home-container">
  <div class="logo">
    <h1>LAUS</h1>
    <div class="foldable-triangle">
      <img src="assets/logo.png" alt="Laus Logo" id="logo-home">
      <img src="assets/logo-hover.jpeg" alt="Hover Logo" id="wolf">
    </div>
  </div>
<!--   <a href="#about-page"><img src="assets/down.svg" alt="To About Page" class="down"></a> -->

</div>
